
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - Keeysight</title>


</head>
<body>
    <div class="container">
        <div class="row">
            <!--If user is null, identity is null
                if identity is null, isauthenticated is null
                if iauthenticated is null, set it to false
                In default, the statement won't execute if the if is false and vice versa-->
            @if (User?.Identity?.IsAuthenticated ?? false)
            {
                <a asp-controller="Account" asp-action="Logout"
                   class="btn btn-danger">Logout</a>
            }
        </div>
    </div>
</body>
</html>

